--extra-index-url https://download.pytorch.org/whl/cu124

torch==2.6.0+cu124
torchvision==0.21.0+cu124
torchaudio==2.6.0+cu124
vllm==0.8.5.post1
https://github.com/Dao-AILab/flash-attention/releases/download/v2.7.4.post1/flash_attn-2.7.4.post1%2Bcu12torch2.6cxx11abiFALSE-cp310-cp310-linux_x86_64.whl
https://github.com/flashinfer-ai/flashinfer/releases/download/v0.2.2.post1/flashinfer_python-0.2.2.post1%2Bcu124torch2.6-cp38-abi3-linux_x86_64.whl

transformers==4.57.6
tensordict==0.10.0
torchdata==0.11.0
numpy==1.26.4
pyarrow==19.0.1
ray[default]==2.46.0
TransferQueue==0.1.7

accelerate
codetiming
datasets
dill
hydra-core
liger-kernel
pandas
peft
pybind11
pylatexenc
packaging
tensorboard
wandb

openai
overrides
tenacity
mpmath
python-dotenv
tree_sitter==0.21.3
tree-sitter-java==0.21.0
tree-sitter-javascript==0.21.4

ninja
pytest
pytest-asyncio
ruff
